@import "@pipu/ui/globals.css";

:root {
    --sidebar: var(--color-blue-tertiary);
}

@theme {
    --shadow-header: 0 7px 32px 0 rgba(0, 0, 0, 0.06), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    --header-height: theme('spacing.20');
}